VESSELS_DATA = 'data/vessels_data_filtered.csv'
PROCESS_MODEL = 'data/case_id_escalas_clean_datetimefix_newlabels.bpmn'
PROCESS_MODEL_DEPARTURES = 'data/departure_process_model.bpmn'
ACTIVITIES_DURATION = 'data/actividades.csv'
ACTIVITIES_DURATION_DEPARTURES = 'data/departure_model_activities_duration.csv'
ACTIVITIES_RESOURCES = 'data/activities_resources.csv'
ACTIVITIES_RESOURCES_DEPARTURES = 'data/departure_model_resources.csv'
WAITING_ACTIVITY='A49'
WAITING_ACTIVITY_DEPARTURE = 'A1'
ACTIVITIES_GATEWAYS_PERCENTAGES = 'data/gateways.csv'
ACTIVITIES_GATEWAYS_PERCENTAGES_DEPARTURE = 'data/departures_gateways_percentages.csv'


